*.o
*.a
*.Forgefile-*
src/*/test/bin/*
*.cmd
*.ko
*.kmod
*.mod.c
*/dev/.tmp_versions/*
*/dev/ctx/test/bin/*
*/dev/ctx/test/o/*
*/dev/sec/test/bin/*
*/dev/kryptos/*
*/dev/machine
*/dev/x86
*/dev/x64
*/dev/export_syms
*/dev/zacarias.inf
*/dev/Debug/*
*/dev/Release/*
*bin/*
*/test/kernel/.tmp_versions/*
*/test/kernel/ctx/*
*/test/kernel/sec/*
*/test/kernel/defs/*
*/test/kernel/kryptos/*
*/test/kernel/kutest.h
*/test/kernel/export_syms
*/test/kernel/x86
*/test/kernel/machine
etc/*.pem
*.mod
