*.o
*.a
*.Forgefile-*
src/*/test/bin/*
*.cmd
*.ko
*.kmod
*.mod.c
*/dev/.tmp_versions/*
*/dev/ctx/test/bin/*
*/dev/sec/test/bin/*
*/dev/kryptos/*
*bin/*
*/test/kernel/.tmp_versions/*
*/test/kernel/ctx/*
*/test/kernel/sec/*
*/test/kernel/kryptos/*
*/test/kernel/kutest.h
